web/xml/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <!-- Root element: Employees -->
    <xs:element name="Employees">
        <xs:complexType>
            <xs:sequence>
                <!-- Multiple Employee entries -->
                <xs:element name="Employee" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <!-- Employee ID -->
                            <xs:element name="employeeID" type="xs:string"/>
                            <!-- Name -->
                            <xs:element name="name" type="xs:string"/>
                            <!-- Designation -->
                            <xs:element name="designation" type="xs:string"/>
                            <!-- Salary: must be positive -->
                            <xs:element name="salary">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:minInclusive value="0.01"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <!-- Employment Status: Active or Inactive -->
                            <xs:element name="employmentStatus">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Active"/>
                                        <xs:enumeration value="Inactive"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
